[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jayantkaranjekar
[access "refs/for/refs/*"]
	read = group user/jayantkaranjekar
	push = group user/jayantkaranjekar
	label-Code-Review = -2..+2 group user/jayantkaranjekar
	label-Verified = -1..+1 group user/jayantkaranjekar
	rebase = group user/jayantkaranjekar
	removeReviewer = group user/jayantkaranjekar
	submit = group user/jayantkaranjekar
[access "refs/heads/*"]
	read = group user/jayantkaranjekar
	create = group user/jayantkaranjekar
	push = +force group user/jayantkaranjekar
	pushMerge = group user/jayantkaranjekar
[access "refs/tags/*"]
	push = +force group user/jayantkaranjekar
	pushTag = group user/jayantkaranjekar
	pushSignedTag = group user/jayantkaranjekar
